@import "/home/yamato/.cache/wal/colors-waybar.css";

* {
  font-family: FiraCode Nerd Font Mono;
  color: @color1;
}

window {
  background-color: rgba(0.4,0.4,0.4,0.8);
  border: 2px solid @color1;
  border-radius: 15px;
}

#outer-box {
  margin-bottom: 12px;
}

#input {
  border: none;
  background-color: transparent;
  margin: 7px;
  box-shadow: none; /* Remove blue "border" */
}

#inner-box {
  background-color: transparent;
  margin: 7px;
  margin-top: 0;
}

#entry {
  padding-left: 5px;
  border: none;
  margin-left: -5px;
  margin-right: -5px;
  outline: none;
}

#entry:selected {
  background-color: @color0;
}

#text {
  margin: 2px;
}

/* Hide backspace icon */
.right {
  color: transparent;
}
